{% extends "admin/change_list.html" %}
{% load staticfiles %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script>
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
        window.onload = function () {
            var ctx = document.getElementById("gate-chart");
            {% regroup cl.queryset|dictsort:"gate" by get_gate_display as gate_list %}
            var lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for gate in gate_list %}'{{ gate.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for gate in gate_list %}'{{ gate.list|length }}',{% endfor %}],
                        backgroundColor: [{% for gate in gate_list %}randomColorGenerator(),{% endfor %}]
                    }]
                },
                options: options
            });
            ctx = document.getElementById("tanggal-chart");
            {% regroup cl.queryset|dictsort:"tanggal" by tanggal as tanggal_list %}
            lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for tanggal in tanggal_list %}'{{ tanggal.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for tanggal in tanggal_list %}'{{ tanggal.list|length }}',{% endfor %}],
                        backgroundColor: [{% for tanggal in tanggal_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options: options
            });
        }
    </script>
{% endblock %}
{% block content %}
    <h1> graphs </h1>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <canvas id="gate-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="tanggal-chart" style="width: 100px !important;"></canvas>
        </div>
    </div>

    {{ block.super }}
{% endblock %}
